.imageContainer {
    height: 149px;
    display: flex;
    align-items: center;
    background-color: #939cdc;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.ship-img {
    width: 200px;
}

.ship {
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    box-shadow: 1px 1px 10px blue;
}