.imageContainer {
    height: 149px;
    display: flex;
    align-items: center;
    background-color: #939cdc;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.ship-img {
    width: 200px;
}

.ship {
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    height: 250px;
    width: 300px;
    cursor: pointer;
    box-shadow: 1px 1px 10px orange;
    background-color: white;
}

.ship h4 {
    width: 100%;
    text-align: center;
}


.ship:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 1px 1px 10px blue;
}

.ship:active {
    transform: scale(1, 1);
}